<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>reading.list</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>07462418-C42F-4168-B2C5-BFC05E6997EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96F2DB4E-9135-43AC-8A32-92DD15BB6693</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>128CDF67-6A8F-4993-B5CC-492CFC101AC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A7F4EEC-9CDA-415D-8D94-840326F56446</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A7F4EEC-9CDA-415D-8D94-840326F56446</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E2B0C6B-5409-40E2-B596-462E5FC927A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2ED2B2E9-BACA-49D5-86A5-8E6EE62991AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>940281B8-B904-4115-ABC3-F6BF9F68EC2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>446F8E5A-D2C9-4E82-B811-489F83D6107F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97622ECB-E7D8-4A7F-8D24-01E8E35780F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E2B0C6B-5409-40E2-B596-462E5FC927A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C10DDB1-AF6C-4DC0-A8A9-98AFBD5B8108</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FA59109-6D15-4646-B276-0173CC8E24C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C5FCB86-BC89-462E-949F-DFA50BC684BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55536DCF-62A7-4E8C-8196-910B271432E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C434A4E-AE0D-4AC3-903B-DC57FD94E82A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AC036FB-A3C0-436B-B7C7-C0B233864760</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>638D60CD-3905-4F5D-869E-B1561A989818</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C434A4E-AE0D-4AC3-903B-DC57FD94E82A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>234CC09E-2B28-4152-BE00-1104084F6E31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>638D60CD-3905-4F5D-869E-B1561A989818</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1FA3357-9FCA-40A0-95E5-DE3528FC1F62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7184DE64-72F9-40F5-ABE4-2D65C3441ED1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97622ECB-E7D8-4A7F-8D24-01E8E35780F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77770747-4764-4364-9CC0-0204384A925A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9D455FA-C126-49F4-833E-D2DCB965CE42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>940281B8-B904-4115-ABC3-F6BF9F68EC2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FA59109-6D15-4646-B276-0173CC8E24C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96F2DB4E-9135-43AC-8A32-92DD15BB6693</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4DDA684-56D3-4574-BBB5-2EFA23A4F1CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97622ECB-E7D8-4A7F-8D24-01E8E35780F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55536DCF-62A7-4E8C-8196-910B271432E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A013A9B4-3B19-4889-A859-092BEB536969</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07462418-C42F-4168-B2C5-BFC05E6997EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5AC036FB-A3C0-436B-B7C7-C0B233864760</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4DDA684-56D3-4574-BBB5-2EFA23A4F1CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8BADEFB-E178-4BE6-B35A-F2A5A9A1EF17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ACA65CAA-E8A3-4440-A5AB-26CE32690934</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>248951AF-CC02-4C99-8B83-C076BA1F7165</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADB99D1F-284A-4D23-A3C2-AD058AA42882</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>446F8E5A-D2C9-4E82-B811-489F83D6107F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7184DE64-72F9-40F5-ABE4-2D65C3441ED1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show read items</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB31A2CF-BA2D-49D4-9ECD-9305F75C4693</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ED2B2E9-BACA-49D5-86A5-8E6EE62991AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9D455FA-C126-49F4-833E-D2DCB965CE42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB31A2CF-BA2D-49D4-9ECD-9305F75C4693</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1FA3357-9FCA-40A0-95E5-DE3528FC1F62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F37DA32-7CB6-4BE9-9087-0C8693D5BE39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ACA65CAA-E8A3-4440-A5AB-26CE32690934</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yuri Mazursky</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reading list</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rladd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add item '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>128CDF67-6A8F-4993-B5CC-492CFC101AC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  return argv[0].trim().replace(/\s/g, ' ');
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A7F4EEC-9CDA-415D-8D94-840326F56446</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:file_path}</string>
				<key>filetext</key>
				<string>- [ ] {query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>8C10DDB1-AF6C-4DC0-A8A9-98AFBD5B8108</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>4E2B0C6B-5409-40E2-B596-462E5FC927A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rlread</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Read first item</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77770747-4764-4364-9CC0-0204384A925A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  ObjC.import('stdlib');
  const list = $.getenv('list');

  const unreadItem = list.match(/- \[ \] (.+)$/m)?.[1];

  if (unreadItem) {
    return unreadItem;
  }

  return '';
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2ED2B2E9-BACA-49D5-86A5-8E6EE62991AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>open_item</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8C5FCB86-BC89-462E-949F-DFA50BC684BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cat "${file_path}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D9D455FA-C126-49F4-833E-D2DCB965CE42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>940281B8-B904-4115-ABC3-F6BF9F68EC2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BB31A2CF-BA2D-49D4-9ECD-9305F75C4693</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>item</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4FA59109-6D15-4646-B276-0173CC8E24C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting list...</string>
				<key>script</key>
				<string>function run(argv) {
  ObjC.import('stdlib');
  const list = $.getenv('list').split('\n');
  const showRead = $.getenv('show_read') === 'true';
  const items = [];
  
  list.forEach((item) =&gt; {
    const match = item.match(/(?:-|\*) \[(x| )\] (.+)$/m);

    if (!match) {
      return;
    }

    const isRead = match[1] === 'x';
    const text = match[2];

    if (showRead !== isRead) {
      return;
    }

    items.push({
      title: text,
      arg: text,
      icon: {
        path: isRead ? './read.png' : './unread.png',
      },
      variables: {
        item: text,
      },
    });
  });

  return JSON.stringify({
    skipknowledge: true,
    items,
  });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Reading list</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5C434A4E-AE0D-4AC3-903B-DC57FD94E82A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>open_item</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>234CC09E-2B28-4152-BE00-1104084F6E31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>show_read</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>446F8E5A-D2C9-4E82-B811-489F83D6107F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cat "${file_path}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>97622ECB-E7D8-4A7F-8D24-01E8E35780F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rllist</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Show unread items</string>
				<key>text</key>
				<string>List</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ADB99D1F-284A-4D23-A3C2-AD058AA42882</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>55536DCF-62A7-4E8C-8196-910B271432E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>show_read</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7184DE64-72F9-40F5-ABE4-2D65C3441ED1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:item}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E8BADEFB-E178-4BE6-B35A-F2A5A9A1EF17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  ObjC.import('stdlib');
  const item = $.getenv('item');
  const urlRegex = /https?:\/\/([\w-]+(\.[\w-]+)+\/?|localhost|\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})(:\d+)?(\/\S*)?$/;

  if (urlRegex.test(item)) {
    return 'link';
  }

  return 'text';
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>07462418-C42F-4168-B2C5-BFC05E6997EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>open_item</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A013A9B4-3B19-4889-A859-092BEB536969</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>248951AF-CC02-4C99-8B83-C076BA1F7165</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>link</string>
						<key>outputlabel</key>
						<string>link</string>
						<key>uid</key>
						<string>ACA65CAA-E8A3-4440-A5AB-26CE32690934</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>text</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A4DDA684-56D3-4574-BBB5-2EFA23A4F1CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>96F2DB4E-9135-43AC-8A32-92DD15BB6693</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:file_path}</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>3F37DA32-7CB6-4BE9-9087-0C8693D5BE39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  ObjC.import('stdlib');
  const list = $.getenv('list').split('\n');
  const item = $.getenv('item');

  for (let index = 0; index &lt; list.length; index++) {
    if (list[index].includes(item)) {
      list[index] = `- [x] ${item}`;

      return list.join('\n');
    }
  };

  return '';
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5AC036FB-A3C0-436B-B7C7-C0B233864760</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>write</string>
						<key>uid</key>
						<string>ACA65CAA-E8A3-4440-A5AB-26CE32690934</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>noop</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E1FA3357-9FCA-40A0-95E5-DE3528FC1F62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>638D60CD-3905-4F5D-869E-B1561A989818</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07462418-C42F-4168-B2C5-BFC05E6997EA</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>128CDF67-6A8F-4993-B5CC-492CFC101AC4</key>
		<dict>
			<key>note</key>
			<string>Add item</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>234CC09E-2B28-4152-BE00-1104084F6E31</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>248951AF-CC02-4C99-8B83-C076BA1F7165</key>
		<dict>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>2A7F4EEC-9CDA-415D-8D94-840326F56446</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>2ED2B2E9-BACA-49D5-86A5-8E6EE62991AF</key>
		<dict>
			<key>note</key>
			<string>Get item</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>3F37DA32-7CB6-4BE9-9087-0C8693D5BE39</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>446F8E5A-D2C9-4E82-B811-489F83D6107F</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>4E2B0C6B-5409-40E2-B596-462E5FC927A9</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>4FA59109-6D15-4646-B276-0173CC8E24C2</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>55536DCF-62A7-4E8C-8196-910B271432E1</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>5AC036FB-A3C0-436B-B7C7-C0B233864760</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>5C434A4E-AE0D-4AC3-903B-DC57FD94E82A</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>638D60CD-3905-4F5D-869E-B1561A989818</key>
		<dict>
			<key>xpos</key>
			<real>945</real>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>7184DE64-72F9-40F5-ABE4-2D65C3441ED1</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>77770747-4764-4364-9CC0-0204384A925A</key>
		<dict>
			<key>note</key>
			<string>Read first item</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>8C10DDB1-AF6C-4DC0-A8A9-98AFBD5B8108</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>8C5FCB86-BC89-462E-949F-DFA50BC684BB</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>940281B8-B904-4115-ABC3-F6BF9F68EC2F</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>96F2DB4E-9135-43AC-8A32-92DD15BB6693</key>
		<dict>
			<key>xpos</key>
			<real>945</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>97622ECB-E7D8-4A7F-8D24-01E8E35780F2</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>A013A9B4-3B19-4889-A859-092BEB536969</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>A4DDA684-56D3-4574-BBB5-2EFA23A4F1CE</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>ADB99D1F-284A-4D23-A3C2-AD058AA42882</key>
		<dict>
			<key>note</key>
			<string>Show reading list</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>BB31A2CF-BA2D-49D4-9ECD-9305F75C4693</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>D9D455FA-C126-49F4-833E-D2DCB965CE42</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>E1FA3357-9FCA-40A0-95E5-DE3528FC1F62</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>960</real>
		</dict>
		<key>E8BADEFB-E178-4BE6-B35A-F2A5A9A1EF17</key>
		<dict>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Reading list Markdown file</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>file_path</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>http://colomolome.com</string>
</dict>
</plist>
